body {
  font-family: Arial, sans-serif;
  background: #111827;
  color: white;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  max-width: 700px;
  margin: 50px auto;
}

h1 {
  text-align: center;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

textarea {
  height: 150px;
  resize: none;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}

.hidden {
  display: none;
}